.projects {
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .header {
    color: var(--Main-Black, #181717);
    font-family: Inter, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 121.5%; /* 21.87px */
    letter-spacing: -0.54px;
    margin-bottom: 12px;
    //text-align: right;

    display: flex;
    align-items: center;
    gap: 12px;

    .arrowIcon {
      width: 36px;  // Ensures the icon is 36px wide
      height: 36px; // Ensures the icon is 36px tall
    }
  }
  .header img {
    padding-right: 16px;
  }

  .footer {
    color: var(--Main-Black, #181717);
    font-family: Inter, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 121.5%; /* 21.87px */
    letter-spacing: -0.54px;
    margin-bottom: 100px;
    text-align: center;
  }
}

.projects {
  @media (max-width: 1024px) {
    padding-left: 100px;
    padding-right: 100px;
  }
  @media (max-width: 768px) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @media (max-width: 480px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header {
    @media (max-width: 768px) {
      font-size: 24px;
    }
  }
}